{% extends 'ScourgenWebBundle::layout.html.twig' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <form class="form-horizontal" action='/' method="POST" >
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputType" placeholder="Saisir une réference article">
                                   <span class="input-group-btn">
                                         <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                                   </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block foot %}
        {{ parent() }}
    {% endblock %}
{% endblock %}