{% extends 'ScourgenWebBundle::layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            Le utilisateur " {{ name }}" est déjà ajouté dans la base de données.
        </div>
    </div>
{% endblock %}