{% extends 'ScourgenWebBundle::layout.html.twig' %}

{% block content %}

    <div class="container">

        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center">veuillez saisir votre identifiant</div>
                </div>

                <div class="panel-body" >

                    <form name="form" id="form" class="form-horizontal"  method="POST" action='{{ path('scourgen_web_article_index') }}'>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="user" type="text" class="form-control" name="identifiant" value="" placeholder="Identifiant">
                        </div>
                        <div class="input-group">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
    {% block foot %}
        {{ parent() }}
    {% endblock %}
{% endblock %}